In [2]:
#array range 
a= "hello world"
a[0:100]

'hello world'

In [4]:
#reverce range
a="hello world"
a[10:2:-1]

'dlrow ol'

In [1]:
#lopping

In [ ]:
#if else statement
a=5
b=10
c=23
if b>a & b>c:

In [ ]:
#calculator
a= int(input("enter the value of first number = "))
b= int(input("enter the value of second number = "))
o= input("enter the operator like + - * / = ")
if o == '+':
    print(a+b)
elif o == '-':
    print(a-b)
elif o == '*':
    print(a*b)
elif o =='/' and b != 0:
    print(a/b)
elif b == 0:
    print('value of b can not be zero')
else:
    print("invalid operator")

In [ ]:
#nesting loop
if o == '+':
    print(a+b)
elif o == '-':
    print(a-b)
elif o == '*':
    print(a*b)
elif o =='/' 
    if b == 0:
        print('value of b can not be zero')
    else:
        print(a/b)
else:
    print("invalid operator")

In [1]:
#loop
#for loop
for i in range(5):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [2]:
for i in range(1,5):
    print(i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world

In [3]:
for i in range(1,10,2):
    print(i,"hello world")

1 hello world
3 hello world
5 hello world
7 hello world
9 hello world

In [4]:
#creating table of 5
x=5
for i in range(1,11):
    print(i*5,)

5
10
15
20
25
30
35
40
45
50

In [5]:
#creating table of user defined value
x=int(input('enter the value = '))
for i in range(1,11):
    print(x,'*',i,'=',i*5,)

enter the value = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [9]:
#user defined sum and their average
s=0
n=int(input("enter n = "))
for i in range(n):
    x = int(input("enter x ="))
    s= s+x
print("the sum is = ",s)
print("the average is = ",s/2)

enter n = 4
enter x =12
enter x =13
enter x =15
enter x =15
the sum is =  55

In [10]:
#factorial
fac=1
n= int(input("enter the value = ")) #running time 
for i in range(1,n+1): # n+1 value of i increasing by n times
    fac=fac*i
print(fac)

enter the value4
24

In [11]:
#EAP for odd number less than 21
for i in range(1,21):
    if i%2 != 0:
        print (i)

1
3
5
7
9
11
13
15
17
19

In [19]:
#check the alphabet value
for i in range(5):
    x= input("enter the value of X = ")
    if x[0] == "A":
        print(x)
    elif x[0] == "a":
        print(x)

enter the value of X = af
af
enter the value of X = fd
enter the value of X = Adghgf
Adghgf
enter the value of X = gsfdg
enter the value of X = fwgeyu

In [17]:
a= "python"
for i in a:
    print(i,"hello world")

p hello world
y hello world
t hello world
h hello world
o hello world
n hello world

In [18]:
a="Hello world"
for i in a:
    if i != " ":
        print(i, end = "")

Helloworld

In [24]:
a="Hello world"
for i in a:
    if i == " ":
        break
    else:
        print(i, end = "")

Hello

In [25]:
a="Hello world"
for i in a:
    if i == " ":
        continue
    else:
        print(i, end = "")

Helloworld

In [2]:
#while Loop
a=0
while a<=5:
    print(a,"Hello world")
    a=a+1 #a+=1

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world

In [4]:
n=int(input("enter n = "))
a=1
while a<=10:
    print(n,"*",a,"=",n*a)
    a= a+1

enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [8]:
a= 1
data= ""
n= int(input("enter row = "))
while a<=n:
    name = input("enter your name = ")
    phone = int(input("enter your phone = "))
    info = name + " --- " + str(phone)
    data =data + info + "\n"
    a=a+1
print(data)

enter row = 2
enter your name = hjgfk
enter your phone = 15643
enter your name = vfhsdgj
enter your phone = 1564
hjgfk --- 15643
vfhsdgj --- 1564

In [1]:
#while as if statement = condition haru uncertain xa bhane while loop. specila case ma use garxnu parxa 
# condition haru true hunjel sama while loop use garxau

a= "Hello world"
n= len(a)
b=0
while b<n:
    if a[b] == " ":
    
        break
    print(a[b],end="")
    b= b+1

Hello

In [1]:
a= "Hello world"
n= len(a)
b=0
while b<n:
    if a[b] == " ":
        b=b+1
        continue
    print(a[b],end="")
    b= b+1

Helloworld

In [42]:
#Class work
#Prime number and Composite Number
#prime number are 1,2,3,5,7,11,13,17,
s = int(input("enter the starting value = "))
l = int(input("enter the last value = "))
for i in range(s, l+1):
    if i>0:
        for j in range(2, i):
            if (i % j) == 0:
                print(i, " are composite number ")
                break  
        else:
            print(i," are prime number ")

enter the starting value = 1
enter the last value = 21
1  are prime number
2  are prime number
3  are prime number
4  are composite number
5  are prime number
6  are composite number
7  are prime number
8  are composite number
9  are composite number
10  are composite number
11  are prime number
12  are composite number
13  are prime number
14  are composite number
15  are composite number
16  are composite number
17  are prime number
18  are composite number
19  are prime number
20  are composite number
21  are composite number

In [50]:
#next method
s = int(input("enter the starting value = "))
l = int(input("enter the last value = "))
print("Prime Number are:- ")
for i in range(s, l+1):
    
    if i>0:
        for j in range(2, i):
            if (i % j) == 0:
                break  
        else:
            print(i,end=",")
            
print("\n"+"---------------------------------")
print("Composite Number are:- ")          
for i in range(s,l):
    
    if i>0:
        for j in range(2, i):
            if(i%j)==0:
                print(i, end =",")
                break

enter the starting value = 1
enter the last value = 21
Prime Number are:-
1,2,3,5,7,11,13,17,19,
---------------------------------
Composite Number are:-
4,6,8,9,10,12,14,15,16,18,20,

In [2]:
#function]
# def <function>: defining function 
#     <operations>
#<function() calling function
#eg:
def hello():
    print("hello world")
    
hello()

#types of function
# (i) function with no argument and no return type
# (ii) function with argument and no return type
# (iii) function with no argument and return type
# (iv) function with argument and return type

hello world

In [3]:
# (i) function with no argument and no return type
def cal():
    p=float(input("Enter the value of p ")) #local variables
    t=float(input("Enter the value of t "))
    r= float(input("Enter the value of r "))
    i=(p*t*r)/100
    print("the simple intrest value = ",i)
n=int(input("enter the number to run program "))
for i in range(n):
    cal()

enter the number to run program 1
Enter the value of p 454
Enter the value of t 4
Enter the value of r 45
the simple intrest value =  817.2

In [4]:
n=int(input("enter the number to run program "))
p=float(input("Enter the value of p ")) #Global variables
t=float(input("Enter the value of t "))
r= float(input("Enter the value of r "))
def cal():
    i=(p*t*r)/100
    print("the simple intrest value = ",i)
for i in range(n):
    cal()

Enter the value of p 5445
Enter the value of t 1
Enter the value of r 455
enter the number to run program 1
the simple intrest value =  24774.75

In [6]:
# (ii) function with argument and no return type
def hello(x):
    print(x)
hello("Hello World")

def cal(x,y,z):
    global i 
    i=(x*y*z)/100 #value of v is global
    print("the simple intrest value = ",i)
    
n=int(input("enter the number to run program "))
p=float(input("Enter the value of p ")) #Global variables
t=float(input("Enter the value of t "))
r= float(input("Enter the value of r "))
for i in range(n):
    cal(p,t,r)

Hello World
enter the number to run program 1
Enter the value of p 7
Enter the value of t 1
Enter the value of r 2
the simple intrest value =  0.14

In [7]:
# (iii) function with no argument and return type
def cal(x=5,y=4):
    z=x*y
    print(z)
    
cal()

20

In [9]:
def cal(x=5,y=b):
    z=x*y
    print(z)
l=2
b=3
cal(l)

6

In [12]:
def info(c):
    x,y,z = c
    a= x + str(y) + z
    print(a)
name = input("enter name = ")
age = int(input("enter age"))
add = input("Enter address")
b = [name, age, add]
info(b)

enter name = ghf
enter age12
Enter addresscg
ghf12cg

In [19]:
def cal():
    l=2
    b=3
    a=l*b
    return a
area = cal()
print("Area = ",area)
h=2
v=area*h
print("Volume = ",v)

Area =  6
Volume =  12

In [21]:
def cal():
    l=2
    b=3
    a=l*b
    return a

def vol():
    h=3
    v=cal()*h
    return v

print("Area = ",cal())
print("Volume = ",vol())

Area =  6
Volume =  18

In [ ]:
#function with argument and return type
a= int(intput("Enter the value of a = "))
b = int(intput("Enter the value of b = "))
o = intput("Enter the value of 0 = ")
if 0 == "+"

In [ ]:
#recursive 
def total(b,c):
    return b+c
def all_totals(x,y):
    return x + y
def bill():
    return name + " " +str(price)+" "+ str(quantity)+ " " +str(total)
def cal():
    all_total = 0
    net_bill = ""
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity"))
    z = input("enter the value of z ,t for total = ")
    if z == "t":
        print(total(price,quantity))
    
    elif z == "a":
        print(all_totals(all_total,total(price,quantity)))
#     elif z == "b":
#         print(bill(name,str(price),str(quantity),str(total()))

#     bill = name + " " +str(price)+" "+ str(quantity)+ " " +str(total)
    
#     net_bill = net_bill+bill+"\n"
    x= input("enter the value of x where y = yes = ")
    if x == "y":
        cal()
cal()

In [4]:
#recursive 
def total(b,c):
    return b*c
def all_totals(m,y):
    return m + y
def bill(p):
#     p = name +b+ c+y
    return p
def netbil():
    return netbill + bill()

def cal():
    all_total = 0
   
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity"))
    z = input("enter the value of z ,t for total = ")
    if z == "t":
        print(total(price,quantity))
    if z == "a":
        print(all_totals(all_total,total(price,quantity)))    
    if z == "b":
        bil= ("Name:- ",name," | Price:- "+str(price)," | Quantity:- "+str(quantity)," | Total:- "+str(total(price,quantity)))
        print(bill(bil))
               
    if z== "n":
#          net_bill = net_bill+bill+"\n"
        print(netbil)
#this is for               
    x = input("enter y for yes and other for no = ")
    if x == "y":
        cal()
cal()

Enter name = asdfg
Enter price = 154
Enter quantity1
enter the value of z ,t for total = n

TypeError: bill() takes 1 positional argument but 5 were given

In [1]:
all_total = 0
net_bill = ""
n = int(input("Enter how many products = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity"))
    total = price*quantity
    all_total = all_total+total
    
    bill = name + " " +str(price)+" "+ str(quantity)+ " " +str(total)
    
    net_bill = net_bill+bill+"\n"
print("My net bill is = \n",net_bill)
print("My all total = ",all_total)

Enter how many products = 2
Enter name = asdfg
Enter price = 2145
Enter quantity1
Enter name = asdfgh
Enter price = 214
Enter quantity12
My net bill is =
 asdfg 2145 1 2145
asdfgh 214 12 2568

My all total =  4713

In [5]:
#String formatting
name =input("enter your name = ")
age = int(input("enter your age = "))
add = input("enter your add = ")
info = f"my name is {name}. i am {age}. i am from {add}. \n"
print(info)

enter your name = fsg
enter your age = 21
enter your add = fegd
my name is fsg. i am 21. i am from fegd.

In [6]:
#search
a= "hello world i am python"
if "python" in a:
    print("yes")
else:
    print("no")
    
print(a.count("python"))

yes
1

In [8]:
a= "hello world i am python"
search= input("Enter any value for search ")
if search in a:
    print("yes")
else:
    print("no")
    
print(f"No of search({search}) value is ",a.count(search))

Enter any value for search python
yes
No of search(python) value is  1

In [9]:
print(a.upper())
print(a.lower())

HELLO WORLD I AM PYTHON
hello world i am python

In [11]:
a= "hello world i am python"
search= input("Enter any value for search ")
search_lower = search.lower()
a_lower= a.lower()
if search_lower in a_lower:
    print("yes")
else:
    print("no")
    
print(f"No of search({search}) value is ",a_lower.count(search_lower))

Enter any value for search PYTHON
yes
No of search(PYTHON) value is  1

In [12]:
#replace
a= "hello world i am python. "
search = input("Enter the value for search ")
replace = input("Enter the value for replace ")
b=a.replace(search,replace)
print(b)

Enter the value for search python
Enter the value for replace PYTHON
hello world i am PYTHON.

In [15]:
a= "apple , ball"
b=a.split(",")
print(b)

['apple ', ' ball']

In [16]:
b[0]

'apple '

In [17]:
#Python Collections
#list 
# Tuples
# Dictionary
# Set

In [18]:
# List
# -indexed
# -ordered
# -duplicate members
# -mutable

a= ["Apple", "Ball", "Cat"]
b=[1,2,3,4,5,6]
print(a)
print(b)

['Apple', 'Ball', 'Cat']
[1, 2, 3, 4, 5, 6]

In [19]:
type(a)

list

In [20]:
len(a)

3

In [21]:
len(b)

6

In [22]:
a= [1,2,3] #list is used for data collection its value can not be multiply
a*3  #for multiply numpy is used (list * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [25]:
#list ma string can not be add 
#ex:-
# a=[]
# b="ram"
#a.sort() mutable value 
#mutabe action can't be print
#eg print(a.sort()) error 
#sort ascending order
#reverse descending order
#concat
a=[]
b=["apple"]
c=a+b
print(c)

#append
a=[]
b="apple"
a.append(b)
print(a)

a=[1]
a.append(2)
print(a)

['apple']
['apple']
[1, 2]

In [3]:
b=[]
a=["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    x= i.lower()
    b.append(x)
print(b)
n= input("enter any value for search = ")
if n.lower() in b:
    print("Yes")

['apple', 'ball', 'cat', 'dog', 'fish']
enter any value for search = aPPle
Yes

In [4]:
a=["Apple", "Ball", "Apple"]
n=len(a)
for i in range(n):
    if a[i] == "Apple":
        print(i)

0
2

In [7]:
z=[]
a=["Apple", "Ball", "Apple"]
n=len(a)
for i in range(n):
    if a[i] == "Apple":
        z.append(i)
print(z,a[i])

[0, 2] Apple

In [8]:
#update
a=["Apple", "Ball", "Apple"]
a[0] = "Ant"
print(a)

['Ant', 'Ball', 'Apple']

In [12]:
a=["Apple", "Ball", "Apple"]
n=len(a)
for i in range(n):
    if a[i] == "Apple":
        a[i] = "Ant"
print(a)

['Ant', 'Ball', 'Ant']

In [14]:
#delete
a=["Apple", "Ball", "Apple"]
del a[0:2]
print(a)

['Apple']

In [15]:
a=["Apple", "Ball", "Apple"]
a.remove("Ball")
print(a)

['Apple', 'Apple']

In [23]:
b= []
a=["Apple", "Ball", "Apple","Cat","Dog"]
n=len(a)
for i in range(n):
    if a[i] == "Apple":
        continue
    b.append(a[i])
print(b)

['Ball', 'Cat', 'Dog']

In [24]:
#pop() same as delete 
a=["Apple", "Ball", "Apple","Cat","Dog"]
b=a.pop(2)
print(a)
print(b)

['Apple', 'Ball', 'Cat', 'Dog']
Apple

In [25]:
#two dimensional list
a = [[1,2],[2,3],[3,4]]
a[0]

[1, 2]

In [26]:
a[0][1]

2

In [ ]:
#list lai append garyau bhane list inside list banxa
#billing system total net total search update remove and so on